In [24]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
sns.set(style='darkgrid') 
%matplotlib inline

# Importation des données

In [25]:
data = pd.read_csv('salary_data.csv', delimiter=',')
data.head()

,Horodateur,Quel est le titre exact de votre post ? Ex : Développeur Mobile IOS,Combien d'années d'expériences avez-vous en Entreprise?,Quel était votre premier salaire en FCFA au Bénin ?,Quel est votre salaire actuel en FCFA au Bénin ?,Êtes-vous satisfait de votre rémunération mensuelle ?
0,11/06/2021 16:22:47,Developeur Backend,1 an,125000,125000,2
1,11/06/2021 16:50:34,IT & Data Analyste,3 à 5 ans,50000,420000,1
2,11/06/2021 17:11:11,Développeur Android et python,2 ans,150000,150000,3
3,11/06/2021 19:51:58,Développeur Web Frontend,Moins d'un an,100000,180000,2
4,11/06/2021 20:13:44,Full stack web developer,1 an,150000,200000,3

In [26]:
data.shape

(38, 6)

# Nettoyage des données

Nous pouvons retirer la colonne **Horodateur**

In [27]:
data = data.drop(columns="Horodateur") # ou utiliser del data['Horodateur']

data

,Quel est le titre exact de votre post ? Ex : Développeur Mobile IOS,Combien d'années d'expériences avez-vous en Entreprise?,Quel était votre premier salaire en FCFA au Bénin ?,Quel est votre salaire actuel en FCFA au Bénin ?,Êtes-vous satisfait de votre rémunération mensuelle ?
0,Developeur Backend,1 an,125000,125000,2
1,IT & Data Analyste,3 à 5 ans,50000,420000,1
2,Développeur Android et python,2 ans,150000,150000,3
3,Développeur Web Frontend,Moins d'un an,100000,180000,2
4,Full stack web developer,1 an,150000,200000,3
5,IT Project Manager,3 à 5 ans,160.000FCFA,300.000FCFA,1
6,UX/UI DESIGNER,2 ans,50.000FCFA,100.000FCFA,1
7,Développeur Front-end,Moins d'un an,100000,180000,1
8,Développeur Angular,3 à 5 ans,60000,250000,2
9,Développeur web,3 à 5 ans,50000,500000,4
10,DevOps,3 à 5 ans,150000,400000,1
11,Lead developer,2 ans,30mille,150,1
12,Développeur Web Full Stack,3 à 5 ans,100000,380000,2
13,Full Stack Dev,Plus de 5 ans,120000,438000,1
14,Developer back-end,2 ans,100000,300000,3
15,Développeur front end,3 à 5 ans,150000,200000,2
16,Développeur Front-end,3 à 5 ans,50.000,150.000,1
17,Data Analyst,"Stagiaire, Moins d'un an",50000,500000,5
18,Frontend dev,2 ans,30.000,180.000,3
19,Devops,2 ans,40000,1000000,3
20,Project Manager Junior,Moins d'un an,50000,50000,1
21,Data Analyst,3 à 5 ans,350000,500000,3
22,Développeur Web Backend,3 à 5 ans,100000,200000,3
23,Chef de projet web et mobile,3 à 5 ans,400000,1000000,3
24,Développeur web et mobile,Moins d'un an,100000,100000,1
25,Développeur Web,Stagiaire,25000,50000,4
26,Développeur Web,2 ans,100000,150000,1
27,Big Data Manager,Moins d'un an,200000,200000,1
28,Manager,Plus de 10 ans,160000,978344,1
29,Développeur web et mobile,3 à 5 ans,100000,200000,1
30,Développeur Web,Plus de 5 ans,50.000 FCFA,200.000fcfa,3
31,Chef Division Applications et Base de Données,Plus de 5 ans,50000,375000,2
32,Développeur Web FullStack et Mobile,2 ans,75.000,160.000,2
33,"Ingénieur réseau, système et securité",Plus de 5 ans,400.000,500.000,2
34,Développeur JEE,3 à 5 ans,73325,225000,2
35,Assistant technique,Moins d'un an,125000,125000,3
36,Développeur Web (Back end et front end),Plus de 10 ans,120000,500000,3
37,Développeur web,1 an,0,40000,1

Essayons de renomer les differentes colonnes,les noms actuels etabt trop long

In [28]:
columns = ['poste', 'experience', 'salaire_debut', 'salaire_actuel', 'satisfaction']
data.columns = columns

In [29]:
data.head()

,poste,experience,salaire_debut,salaire_actuel,satisfaction
0,Developeur Backend,1 an,125000,125000,2
1,IT & Data Analyste,3 à 5 ans,50000,420000,1
2,Développeur Android et python,2 ans,150000,150000,3
3,Développeur Web Frontend,Moins d'un an,100000,180000,2
4,Full stack web developer,1 an,150000,200000,3

Verifions le type de données de chasuer colonne

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   poste           38 non-null     object
 1   experience      38 non-null     object
 2   salaire_debut   38 non-null     object
 3   salaire_actuel  38 non-null     object
 4   satisfaction    38 non-null     int64
dtypes: int64(1), object(4)
memory usage: 1.6+ KB

La colonne est de type int. Examinons les colonnes salures_debut et salaire_actuel qui devrait etre egalement de type int

In [31]:
data['salaire_debut'].unique()

array(['125000', '50000', '150000', '100000', '160.000FCFA', '50.000FCFA',
       '60000', '30mille', '120000', '50.000', '30.000', '40000',
       '350000', '400000', '25000', '200000', '160000', '50.000 FCFA',
       '75.000', '400.000', '73325', '0'], dtype=object)

In [32]:
data['salaire_actuel'].unique()

array(['125000', '420000', '150000', '180000', '200000', '300.000FCFA',
       '100.000FCFA', '250000', '500000', '400000', '150', '380000',
       '438000', '300000', '150.000', '180.000', '1000000', '50000',
       '100000', '978344', '200.000fcfa', '375000', '160.000', '500.000',
       '225000', '40000'], dtype=object)

On remarque que :
- Nous disposons d'un grand nombre de salaire different, ce qui est bien pour notre analyse
- Certaines reponse ont la devise fcfa, ce qu'il faudra effacer
- Certaines reponses ont un point à l'interieur ou simplement la seconde partie en tout lettre pour facilieter la lecture du montant. Il faut les enlever et les nettoyer egalement.

Ecrivons la fonction de nettoyage :

In [33]:
def clean_salary(salary):
    salary = salary.lower() #transformer tous les FCFA en fcfa
    to_remove = ['fcfa', '.', 'mille']

    for chaine in to_remove:
        if chaine == 'mille':
            salary = salary.replace(chaine,'000')
        salary = salary.replace(chaine, '')
    return salary

In [34]:
data['salaire_debut'] = data['salaire_debut'].apply(clean_salary)
data['salaire_actuel'] = data['salaire_actuel'].apply(clean_salary)

In [35]:
data['salaire_debut'].unique()

array(['125000', '50000', '150000', '100000', '160000', '60000', '30000',
       '120000', '40000', '350000', '400000', '25000', '200000', '50000 ',
       '75000', '73325', '0'], dtype=object)

In [37]:
data['salaire_actuel'].unique()

array(['125000', '420000', '150000', '180000', '200000', '300000',
       '100000', '250000', '500000', '400000', '150', '380000', '438000',
       '1000000', '50000', '978344', '375000', '160000', '225000',
       '40000'], dtype=object)

Désormais, nous n'avons plus que des nombres. Mais ce n'est pas fini. Nous avons un outlier 150 dans la colonne salaire actuel et de 0 dans le salire debut. Examinons les autres reponses de ces personnes

In [38]:
data[data['salaire_actuel'] == '150']

             poste experience salaire_debut salaire_actuel  satisfaction
11  Lead developer      2 ans         30000            150             1

Un salaire début de 30000 et un salaire actuel de 150 est invraisemblable pour un Lead developer avec 2 ans d'expérience. Il s'agit probalement de 150 000 FCFA. Modifions cela

In [39]:
data.at[11,'salaire_actuel'] = '150000'

In [40]:
data.iloc[11]

poste             Lead developer
experience                 2 ans
salaire_debut              30000
salaire_actuel            150000
satisfaction                   1
Name: 11, dtype: object

In [41]:
data[data['salaire_debut'] == '0']

              poste experience salaire_debut salaire_actuel  satisfaction
37  Développeur web       1 an             0          40000             1

Il s'agit là d'un développeur avec une année d'expérience. Un salaire début de 0 peut supposer qu'il s'agissait d'un stage non remunéré. On peut donc garder cette ligne telle.

Nous pouvons maintenant convertir ces colonnes de type object à int

In [42]:
data[['salaire_debut', 'salaire_actuel']] = data[['salaire_debut', 'salaire_actuel']].astype('int')

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   poste           38 non-null     object
 1   experience      38 non-null     object
 2   salaire_debut   38 non-null     int32
 3   salaire_actuel  38 non-null     int32
 4   satisfaction    38 non-null     int64
dtypes: int32(2), int64(1), object(2)
memory usage: 1.3+ KB

Considérons désormais la colonne expérience :

In [44]:
data['experience'].unique()

array(['1 an', '3 à 5 ans', '2 ans', "Moins d'un an", 'Plus de 5 ans',
       "Stagiaire, Moins d'un an", 'Stagiaire', 'Plus de 10 ans'],
      dtype=object)

Il s'agit de catégories donc on peut ne pas modifier cette catégorie.

C'est donc la fin de notre nettoyage de données. Nous pouvons désormais passé à une analyse exploratoire.

# Analyse exploratoire

In [45]:
data.head()

,poste,experience,salaire_debut,salaire_actuel,satisfaction
0,Developeur Backend,1 an,125000,125000,2
1,IT & Data Analyste,3 à 5 ans,50000,420000,1
2,Développeur Android et python,2 ans,150000,150000,3
3,Développeur Web Frontend,Moins d'un an,100000,180000,2
4,Full stack web developer,1 an,150000,200000,3