# Clinic data analysis

In [14]:
# importation des bibliothèques
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
#importation des données
df = pd.read_csv('./hospital_data.csv')
df.head()

,Date,Medication Revenue,Lab Cost,Consultation Revenue,Doctor Type,Financial Class,Patient Type,Entry Time,Post-Consultation Time,Completion Time,Doctor,Patient ID
0,11/4/2019 0:00,"$1,183.22",$10.00,$20.17,ANCHOR,HMO,OUTPATIENT,8:35:45,9:17:54,9:29:46,DR05350C4,C10001
1,11/6/2019 0:00,$738.48,$-,$15.00,ANCHOR,INSURANCE,OUTPATIENT,19:19:16,21:02:36,21:24:07,DR09451Z4,C10002
2,11/2/2019 0:00,$660.00,$-,$21.17,ANCHOR,HMO,OUTPATIENT,10:46:52,11:56:25,12:06:28,DR17400I4,C10003
3,11/6/2019 0:00,$600.00,$-,$-,ANCHOR,MEDICARE,OUTPATIENT,9:38:34,10:55:50,10:58:02,DR09451Z4,C10004
4,11/1/2019 0:00,$591.60,$-,$12.00,ANCHOR,INSURANCE,OUTPATIENT,11:16:21,12:06:49,12:06:54,DR15154H4,C10005

In [16]:
#affichage des informations sur les données
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    29999 non-null  object
 1    Medication Revenue     29999 non-null  object
 2     Lab Cost              29999 non-null  object
 3    Consultation Revenue   29999 non-null  object
 4   Doctor Type             29999 non-null  object
 5   Financial Class         29999 non-null  object
 6   Patient Type            29999 non-null  object
 7   Entry Time              29999 non-null  object
 8   Post-Consultation Time  29999 non-null  object
 9   Completion Time         29999 non-null  object
 10  Doctor                  29999 non-null  object
 11  Patient ID              29999 non-null  object
dtypes: object(12)
memory usage: 2.7+ MB

In [17]:
#afficher les colonnes
df.columns

columns = [ 'Date', 'Medication_Revenue', 'Lab_cost', ' Consultation_Revenue', 'Doctor_Type', 'Financial_Class', 'Patient_Type', 'Entry_Time',
       'Post-Consultation_Time', 'Completion_Time', 'Doctor', 'Patient_ID']

#renommer les colonnes
df.columns = columns

#afficher les colonnes
df.columns

Index(['Date', 'Medication_Revenue', 'Lab_cost', ' Consultation_Revenue',
       'Doctor_Type', 'Financial_Class', 'Patient_Type', 'Entry_Time',
       'Post-Consultation_Time', 'Completion_Time', 'Doctor', 'Patient_ID'],
      dtype='object')

# Nettoyages des données

In [18]:
#tranformation de la colonne date en datetime
df['Date'] = pd.to_datetime(df['Date'])
#transforation de la colonne entry en datetime
df['Entry_Time'] = pd.to_datetime(df['Entry_Time'])
#transformation de la colonne Post-Consultation_Time en datetime
df['Post-Consultation_Time'] = pd.to_datetime(df['Post-Consultation_Time'])
#transformation de la colonne Completion_Time en datetime
df['Completion_Time'] = pd.to_datetime(df['Completion_Time'])

#afficher les informations sur les données
df.info()

C:\Users\Dell\AppData\Local\Temp\ipykernel_18656\2568031904.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Entry_Time'] = pd.to_datetime(df['Entry_Time'])

C:\Users\Dell\AppData\Local\Temp\ipykernel_18656\2568031904.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Post-Consultation_Time'] = pd.to_datetime(df['Post-Consultation_Time'])
C:\Users\Dell\AppData\Local\Temp\ipykernel_18656\2568031904.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Completion_Time'] = pd.to_datetime(df['Completion_Time'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29999 entries, 0 to 29998
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    29999 non-null  datetime64[ns]
 1   Medication_Revenue      29999 non-null  object
 2   Lab_cost                29999 non-null  object
 3    Consultation_Revenue   29999 non-null  object
 4   Doctor_Type             29999 non-null  object
 5   Financial_Class         29999 non-null  object
 6   Patient_Type            29999 non-null  object
 7   Entry_Time              29999 non-null  datetime64[ns]
 8   Post-Consultation_Time  29999 non-null  datetime64[ns]
 9   Completion_Time         29999 non-null  datetime64[ns]
 10  Doctor                  29999 non-null  object
 11  Patient_ID              29999 non-null  object
dtypes: datetime64[ns](4), object(8)
memory usage: 2.7+ MB

### Suppresion du symbole $ et -

In [39]:
def clean_salary(data):
    to_remove = ['$', '-']
    for chaine in to_remove:
        data = data.replace(chaine,'')
    data = pd.to_numeric(data)
    return data

In [41]:
#appliquer la fonction de nettoyage sur la colonne medication_revenue
df['Medication_Revenue'] = df['Medication_Revenue'].apply(clean_salary)

ValueError: Unable to parse string "1,183.22 " at position 0

In [32]:
df.head()

,Date,Medication_Revenue,Lab_cost,Consultation_Revenue,Doctor_Type,Financial_Class,Patient_Type,Entry_Time,Post-Consultation_Time,Completion_Time,Doctor,Patient_ID
0,2019-11-04,"1,183.22",10.00,20.17,ANCHOR,HMO,OUTPATIENT,2024-01-13 08:35:45,2024-01-13 09:17:54,2024-01-13 09:29:46,DR05350C4,C10001
1,2019-11-06,738.48,,15.00,ANCHOR,INSURANCE,OUTPATIENT,2024-01-13 19:19:16,2024-01-13 21:02:36,2024-01-13 21:24:07,DR09451Z4,C10002
2,2019-11-02,660.00,,21.17,ANCHOR,HMO,OUTPATIENT,2024-01-13 10:46:52,2024-01-13 11:56:25,2024-01-13 12:06:28,DR17400I4,C10003
3,2019-11-06,600.00,,,ANCHOR,MEDICARE,OUTPATIENT,2024-01-13 09:38:34,2024-01-13 10:55:50,2024-01-13 10:58:02,DR09451Z4,C10004
4,2019-11-01,591.60,,12.00,ANCHOR,INSURANCE,OUTPATIENT,2024-01-13 11:16:21,2024-01-13 12:06:49,2024-01-13 12:06:54,DR15154H4,C10005

In [28]:
#Verification des valeurs manquantes
df.isnull().sum()

Date                      0
Medication_Revenue        0
Lab_cost                  0
 Consultation_Revenue     0
Doctor_Type               0
Financial_Class           0
Patient_Type              0
Entry_Time                0
Post-Consultation_Time    0
Completion_Time           0
Doctor                    0
Patient_ID                0
dtype: int64